@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: 'Figtree',sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    cursor:default;
    box-sizing: border-box;
}

:root{
    --primary-Yellow: hsl(47, 88%, 63%);
    --netural-White: hsl(0, 0%, 100%);
    --netural-Grey: hsl(0, 0%, 50%);
    --netural-Black: hsl(0, 0%, 7%);
}

body{
    background-color: var(--primary-Yellow);
    padding: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    max-width: 360px;
    row-gap: 20px;
    border-radius: 18px;
    border: 1px solid;
    box-shadow: 8px 8px;
    background-color: var(--netural-White);
}

.card img{
    border-radius: 8px; 
}
h5{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--primary-Yellow);
    font-weight: 800;
}
.date{
    margin-top: -8px;
    font-size: .7rem;
    font-weight: 600;
}
.title{
    font-weight: 800;
}

.title:hover{
    color: var(--primary-Yellow);
    cursor: pointer;
}
.discription{
    font-size: 1rem;
    color: var(--netural-Grey);
}
.author{
    display: flex;
    align-items: center;
    gap:10px ;
}

.author img{
    width: 38px;
}
.name{
    font-size: 1rem;
    font-weight: 800;
}