
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit',sans-serif;
}

:root{
--Primary-Nutmeg: hsl(14, 45%, 36%);
--Primary-DarkRaspberry: hsl(332, 51%, 32%);

--Netural-White :hsl(0, 0%, 100%);
--Netural-RoseWhite: hsl(330, 100%, 98%);
--Netural-Eggshell :hsl(30, 54%, 90%);
--Netural-LightGrey: hsl(30, 18%, 87%);
--Netural-WengeBrown: hsl(30, 10%, 34%);
--Netural-DarkCharcoal: hsl(24, 5%, 18%);

--Primary-font: 'Young Serif', sans-serif;
--secondary-font:'Outfit',sans-serif;
}

body{
    font-family: 'Outfit',sans-serif;
    font-size: 1rem;
}

img{
    max-width: 100%;
    display: block;
}

/* =============
    Layout
    ============ */

section, header p, header h1{
    margin: 2.75rem 0;
    padding:0 1.5rem;
}

.Pre-bg{
    background-color: var(--Netural-RoseWhite);
    padding: 20px;
}

ul, ol{
    padding: 0 .5rem;
}

li p, ol p{
    padding: 0 0.75rem;
}

table{
    margin: auto;
}

td{
    padding: 20px 32px 0 32px;
    margin: 0;
}

.boder{
    border-bottom: solid;
}

/* =============
    Typography
    ============ */

h1{
    font-family: var(--Primary-font);
    font-weight: 300;
}

section h1, td:last-child{
    color: var(--Primary-Nutmeg);
}

td:last-child{
    font-weight: 700;
}

section h3{
    color: var(--Primary-DarkRaspberry);
}

p{
    color: var(--Netural-DarkCharcoal);
}

li::marker {
    color: var(--Primary-DarkRaspberry);
}

li{
    margin: 1rem;
}

.body-container li::marker {
    color: var(--Primary-Nutmeg);
    font-weight: bold;
}


/* =============
    Media quries
    ============ */

@media (min-width: 426px) {

    main{
        padding: 1.25rem;
        margin: 0 auto;
        border-radius: 16px;
        max-width: 720px;
        background-color: var(--Netural-White);
    }
    img{
        border-radius: .5rem;

    }
    section, header p, header h1{
        padding: 0;
    }

    body{
        padding: 20px;
        background-color: var(--Netural-RoseWhite);
}
}


/* =============
    Footer
    ============ */

footer{
    margin:40px auto 0 auto;
    background-color: var(--Netural-RoseWhite);
    padding: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}