

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: var(--font-secondary);
}
:root{
 
    /*colors*/
    --primary-Darkcyan: hsl(158, 36%, 37%);
    --primary-Darkcyan-dark: hsl(158, 36%, 27%);
    --primary-Cream: hsl(30, 38%, 92%);
    
    --neutral-Verydarkblue: hsl(212, 21%, 14%);
    --neutral-Darkgrayishblue: hsl(228, 12%, 48%);
    --neutral-White: hsl(0, 0%, 100%);

    /* spacing */
    --spacing-large:1.8rem;
    --spacing-small:1rem;
    
    /*font styles*/
    --font-Primaru: "Fraunces", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
  
    --fs-400: .75rem;
    --fs-500: 1rem;
    --fs-700: 1.75rem;
}


body{
    padding: var(--spacing-small);
    background: var(--primary-Cream);
    color:var(--neutral-Darkgrayishblue);
}

img{
    width: 100%;
    display: block;
}

.cartButton img{
    width: 1.1rem;
}

button{
    justify-content: center;
    background: var(--primary-Darkcyan);
    border: 0;
    padding: var(--spacing-small) 0;
    border-radius: .5rem;
    color: var(--neutral-White);
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background: var(--primary-Darkcyan-dark);
    
}
.inlineFlex{
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}
/* =================
    Layout
    ================ */

    .card{
        max-width: 600px;
        background: var(--neutral-White);
        border-radius: .5rem;
        overflow: hidden;
    }

    .imgsection{
        width: 100%;
    }

    .textsection{
        padding: var(--spacing-large);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);
    }

    /* typography */

    .product{
        letter-spacing: .5rem;
    }

    .productTitle,
    .priceTag h1{
        font-family: var(--font-Primaru);
        font-weight: bold;
        font-size: var(--fs-700);
        color:var(--neutral-Verydarkblue);
    }

    .discription{
        line-height: 1.5;
    }

    .priceTag h1{
        color: var(--primary-Darkcyan);
    }

    .priceTag p{
        font-size: var(--fs-400);
    }



/* footer */

footer{
    margin: var(--spacing-large);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (max-width:600px) {
    .desktopimage{
        display: none;
    }
}

@media (min-width:600px) {
    .mobileimage{
        display: none;
    }
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 100dvh;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* .imgsection,
    .textsection{
        width: 50%;
    } */

    footer{
        position: absolute;
        bottom: 0;
    }
}

